

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:ital,wght@1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

.container{
    width: 100%;
    height: 75vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/d23a1608-7d90-4da1-93d6-bae2fe60a69b/IN-en-20230814-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
    background-blend-mode:darken ;
}

.head{
    width: 70%;
    display: flex;
    justify-content:space-between;
    margin: auto;
    padding-top: 30px;

}

.container .head img{
    width: 160px;
    max-width: 100%;

}

.container .head a{
position: relative;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    /* background-color: red; */
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}
.lan{
    position: relative;
    left: 28rem;
    background-color:transparent white ;
   border: 1px solid white ;
}
.lan2{
    background-color: red;
}
.container .content{
    text-align: center;
    padding-top: 10%;
    color: #fff;
    line-height: 3.5rem;
}

.container .content h1{
    font-size: 3rem;
}

.container .content h3{
    font-size: 1.5rem;
}
.container .content input{
    height: px;
    padding: 20px;
    width: 25rem;
    max-width: 90%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

::placeholder{
   color: #fff;
}

.container .content a{
    position: relative;
    left: 0.3rem;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    padding:19.5px 40px  ;
    background-color: red;
    font-size: 1rem;
    font-weight: bold;
}


/*  */

.section{
    width: 100%;
    height: 60vh;
    background-color: #000;
    border-top: 7px solid #232323;
    border-bottom: 7px solid #232323;
}
.cont{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.cont .text{
    color: #fff;
    padding: 0 10%;
    line-height: 2rem;
    position: relative;
    bottom: 12rem;

}

.text h1{
    font-size: 2.5rem;
    padding: 10px 0;
}

.text p{
    font-size: 1.2rem;
    position: relative;
    top: 20px;
}
.ttx{
    position: relative;
    top: 7.5rem;
}
.ttx p{
    position: relative;
    top: 20px;
}
.section .img img{
    position: relative;
    z-index: 99;
}
.videox{
    position: relative;
    display: flex;
    bottom: 28.4rem;
    left: 5.1rem;
    
}
/*  */

.section2{
    width: 100%;
    height:70vh ;
    background-color: #000;
    border-bottom: 7px solid #232323;

}
.section2 .text2 p{
    position: relative;
    top: 2rem;
}
.cont2{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont2 .text2{
    max-width: 100%;
    color: #fff;
    padding-right:10% ;
    line-height: 2rem;
}

.text2 h1{
    font-size: 2.5rem;
    line-height: 3.2rem;
    padding: 5px 0;

}

.text2 p{
    font-size: 1.2rem;
}
.cont2 .img2 {
    position: relative;
    top: 8rem;
}
.cont2 .img2 img{

    width: 550px;
    max-width: 100%;

}

/* section-m*/

.section-m{
    background: black;
    height: 650px;
    width: 100%;
}

.section-m .container-m{
    background: transparent;
    color: white;
   

}
.section-m .container-m .text{
    float: left;
    background: transparent;
    margin-top: 15%;
    margin-left: 10%;
}
.section-m .container-m .text span{
    background: transparent;
    font-size: 50px;
    margin-top: 50%;
font-weight: 600;

}
.cont-text{
    position: relative;
    left: 12rem;
    bottom: 3rem;
}

.videomp{
    position: relative;
    right: 10rem;
}
.section-m .container-m .text p{
    background: transparent;
    margin-top: 20px;
line-height: 1.5;
font-size: 25px;
width: 60%;
}

/* .section-m .container-m .img{position: relative;} */
.section-m .container-m .img video{
    position: relative;
    top: 2rem;
    right: -3rem;
    width: 363px;
    
    height: 248px;
    

}

.section-m .container-m .img img{
    position: relative;
    top: 28rem;
    left: -4rem;
    float: right;
    background: transparent;
    margin-top: -325px;
    margin-right: 153px;
    height: 426px;
    width: 568px;
    z-index: 99;
}

.end-section{
    background: #222;
    width: 100%;
    height: 8.75px;
}

/*  */

.onlytext{
    width: 100%;
    height: 70vh;
    text-align: left;
    background-color: #000;
    padding: 10% 15%;
    color: #fff;
    border-bottom: 7px solid #232323;
}

.onlytext h1{
    font-size: 4rem;

}

.onlytext p{
    position: relative;
    top: 30px;
    font-size: 1.2rem;
}

/* ---------------------- */

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px ;
}
.faq h2{
    font-weight:500 ;
    font-size: 40px;

}


.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;

}

label::after{
    content: '+';
    font-size: 34px;
    position:absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content{
max-height: 600px;
padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}


.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 13px;
}

.small{
    position: relative;
    top: -1.1rem;
}

.end-cont input{
    color: black;
height: 2.5rem;
width: 19.5rem;
background: transparent red;
border: none;
border: 1px solid #fff;
border-radius: 5px;
}
.end-cont input::placeholder{
    color: #4f4f4f;
    position: relative;
    left: 16px;
}
.end-cont  button{
    text-decoration: none;
    height: 2.5rem;
    width: 6rem;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
}
button a{
    text-decoration: none;
}



/* ---footer---- */


.footer{
    position: relative;
    left: 8rem;
    padding: 50px 15% 10px;
    color:#777;
}
.row{
    padding: 50px 0;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;

}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px; 
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}

/*  */

.footer .language-btn{
   
    background: transparent;
    padding: 10px 20px;
    border-radius:4px ;
    color: #d5d5d5;
    border: 1px solid #fff;
   

}

.copyright{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #d5d5d5;
}


